body{
    font-size:20px;
    align-items: center;
    margin-left: 20px;
}

div{
    margin-top: 15px;
}

input{
    padding:5px;
    margin:10px 10px
}

select{
    padding:5px;
    margin:0 10px
}

label{
    margin-top: 100px;
}

input {
    border: none;
    border-bottom: 2px solid rgb(65, 115, 206);
    outline: none;
    font-size: xx-large;
    
}

select {
    outline: none;
    border: none;
    background-color: white;
    border-bottom: 2px solid rgb(65, 115, 206);
    font-size: x-large;
}
button{
    background-color: rgb(65, 115, 206);
    padding: 10px 43px;
    color: white;

}


    